@tailwind base;
@tailwind components;
@tailwind utilities;

.hero:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-filter: blur(100px);
    filter: blur(100px);
    background: radial-gradient(circle at 100% 80%, #ff66007c, transparent 30%),radial-gradient(circle at 80% 50%, #0b113a, transparent 35%),radial-gradient(circle at 0% 100%, #e7945c, #0f1750, transparent 65%);
    z-index: -1;
}